---
---

@import "{{ site.theme }}";

// I am gonna reduce all the light of colors by 10%.

body,
.markdown-body table tr {
  background: hsl(0, 0%, 90%);
}
.markdown-body {
  hr {
    background-color: hsl(214, 13%, 80%);
  }
  blockquote {
    color: hsl(212, 8%, 35%);
    border-left-color: hsl(210, 10%, 79%);
  }
  table {
    tr {
      border-top-color: hsl(213, 11%, 70%);
      th, td {
        border-color: hsl(210, 10%, 79%);
      }
    }
  }
}

// these are personal.

.markdown-body {
  blockquote {
    // darker background, some vertical padding for the darker background
    padding: 0.5em 1em;
    background-color: hsla(0, 0%, 0%, 0.03);
  }
  img {
    // just horizontally aligning to center
    display: block;
    margin-right: auto;
    margin-left: auto;
    // remove default white background for the elements
    background-color: transparent;
  }
}
header ul {
  // I don't need 'view on github' button for this Pages.
  display: none;
}
blockquote {
  // don't tell anyone but I feel dizzy when seeing a large paragraph in italic.
  font-style: normal;
}
