---
---

@import "{{ site.theme }}";

// I am gonna reduce all the light of colors by 10%.

body,
.markdown-body table tr {
  background: hsl(0, 0%, 90%);
}

.markdown-body {
  blockquote {
    color: hsl(212, 8%, 35%);
    border-left-color: hsl(210, 10%, 79%);
  }
  table {
    tr {
      border-top-color: hsl(213, 11%, 70%);
      th, td {
        border-color: hsl(210, 10%, 79%);
      }
    }
  }
}

// this is personal. add darker background for blockquote. also some padding.

.markdown-body blockquote {
  padding: 0.5em 1em;
  background-color: hsla(0, 0%, 0%, 0.03);
}

// I don't need 'view on github' button for this Pages.

header ul {
  display: none;
}

// don't tell anyone but I feel dizzy when seeing a large paragraph in italic.

blockquote {
  font-style: normal;
}
